<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>IMDB Database</h1>
<h3>The list of query support provided by our system. Please click on check and try out the query</h3>
<form action="query1">
  <label for="query1">1. List the names of alive actors whose name starts with a given keyword (such as “Phi”) and did not participate in any movie in a given year (such as 2014).</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query2">
    <label for="query2">2. List the names of alive producers who have produced more than a given number (such as 50) of talk shows in a given year (such as 2017) and whose name contains a given keyword (such as “Gill”).</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query3">
  <label for="query3">3. List the average runtime for movies whose original title contain a given keyword such as (“star”) and were written by somebody who is still alive.</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query4">
  <label for="query4">4. List the names of alive producers with the greatest number of long-run movies produced (runtime greater than 120 min).</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query5">
  <label for="query5">5. List the unique name pairs of actors who have acted together in more than a given number (such as 2) movies and sort them by average movie rating (of those they acted together).</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query6">
    <label for="query6">6. List the tv series with x (example 7) number of episodes and which has a rating above x (example 4) with minimum runtime of (example 90).</label>
    <button type="submit">Check</button><br /><br />
</form>
<form action="query7">
  <label for="query7">7. List all the movies with actor (actor name ) and which are in language (English, Spanish etc).</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query8">
  <label for="query8">8. List all the producers who died before their movie was released.</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query9">
  <label for="query9">9. List all the movies where the actor and director both had the same birth year contributed to the same movie.</label>
  <button type="submit">Check</button><br /><br />
</form>
<form action="query10">
  <label for="query10">10. List all the shows which have a total run time less than a particular value</label>
  <button type="submit">Check</button><br /><br />
</form>
</body>
</html>