<html>
   <body>
        <form action="/">
            <button type="submit">Home</button><br /><br />
        </form>
        <label for="query6">6. List the tv series with x (example 7) number of episodes and which has a rating above x (example 4) with minimum runtime of (example 90).</label>
        <form action = "http://localhost:5000/query6" method = "POST">
             <p>Number of episodes <input type = "number" name = "numberOfEpisodes" /></p>
            <p>Minimum Rating<input type = "text" name = "mini_rating" /></p>
            <p>Running time<input type = "text" name = "running_time" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
   </body>
</html>