<html>
   <body>
        <form action="/">
            <button type="submit">Home</button><br /><br />
        </form>
        <label for="query2">2. List the names of alive producers who have produced more than a given number (such as 50) of talk shows in a given year (such as 2017) and whose name contains a given keyword (such as “Gill”).</label>

        <form action = "http://localhost:5000/query2" method = "POST">
          <p>Number <input type = "text" name = "number" /></p>
          <p>Year <input type = "text" name = "year" /></p>
          <p>Name Contains <input type = "text" name = "name" /></p>
          <p><input type = "submit" value = "submit" /></p>
        </form>
   </body>
</html>