<html>
   <body>
        <form action="/">
        <button type="submit">Home</button><br /><br />
      </form>
      <label for="query7">7. List all the movies with actor (actor name ) and which are in language (English, Spanish etc).</label>
      <form action = "http://localhost:5000/query7" method = "POST">
         <p>Actor name starts with <input type = "text" name = "actor_name" /></p>
         <p>Language <input type = "text" name = "language" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>