<html>
   <body>
   <form action="/">
        <button type="submit">Home</button><br /><br />
      </form>
     <label for="query3">3. List the average runtime for movies whose original title contain a given keyword such as (“star”) and were written by somebody who is still alive.</label>
      <form action = "http://localhost:5000/query3" method = "POST">
         <p>Contains Keyword<input type = "text" name = "keyword" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>