{#<html>#}
{#   <body>#}
{#        <form action="/">#}
{#        <button type="submit">Home</button><br /><br />#}
{#      </form>#}
{#      <form action = "http://localhost:5000/query5" method = "POST">#}
{#         <p>Number of movies <input type = "text" name = "Number_Movies" /></p>#}
{#         <p><input type = "submit" value = "submit" /></p>#}
{#      </form>#}
{#   </body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query 5</title>
</head>
<body>
    <form action="/">
        <button type="submit">Home</button><br /><br />
      </form>
    <label for="query5">5. List the unique name pairs of actors who have acted together in more than a given number (such as 2) movies and sort them by average movie rating (of those they acted together).</label>
    <form action = "http://localhost:5000/query5" method = "POST">
         <p>Number of movies <input type = "text" name = "Number_Movies" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
</body>
</html>