<html>
   <body>
      <form action="/">
        <button type="submit">Home</button><br /><br />
      </form>
      <label for="query1">1. List the names of alive actors whose name starts with a given keyword (such as “Phi”) and did not participate in any movie in a given year (such as 2014).</label>
      <form action = "http://localhost:5000/query1" method = "POST">
         <p>Name starts with <input type = "text" name = "StartsWith" /></p>
         <p>Year <input type = "text" name = "year" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>